body {
    background-image: url("https://images8.alphacoders.com/805/805636.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 8%;
    


}

p#principal {
    color: white;
    font-size: x-large;
}

center#principal {
    color: #d6b362;
    font-size: xx-large;
}

a#campeos {
    text-decoration: none;
    color: #52336f;
}

a#principal {
    text-decoration: none;
    color: #d6b362;
    font-size: large;
}

ul {
    list-style: none;
}

h1#principal {
    text-align: center;
    color: #d6b362;
    font-size: xx-large;
}

td {
    text-align: center;

}

div#center {
    text-align: center;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(68, 68, 68);
    z-index: 2;

}

ul li {
    display: inline-block;
}

ul li a {
    color: white;
    padding: 8px 35px;
    border-radius: 6px;

}

@media only screen and (max-width: 480px) {
    h1 {
        margin-top: 20%;
    }

    .imgCampeos {
        width: 100%;
        height: auto;
    }
}

.imgCampeos {
    width: 400px;
}
.container{
    /* padding: 0;
    margin: 0;
    list-style:none;
    display: flex; */
    padding-left: 2.7%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.item{
    /* justify-content: space-around; */
    /* flex-basis: 250px;  */

    width: 315px;
    height:315px;
    margin-right: 10%;
    margin-bottom: 3%;
}
.break{
    flex-basis: 100%;
    height: 0;

}
